
API/bin/Debug/netcoreapp3.1/DesafioFULL-WebAPI.dll
API/bin/Debug/netcoreapp3.1/DesafioFULL-WebAPI.pdb
API/obj/Debug/netcoreapp3.1/DesafioFULL-WebAPI.assets.cache
API/obj/Debug/netcoreapp3.1/DesafioFULL-WebAPI.csproj.FileListAbsolute.txt
API/obj/Debug/netcoreapp3.1/DesafioFULL-WebAPI.csprojAssemblyReference.cache
API/obj/Debug/netcoreapp3.1/DesafioFULL-WebAPI.dll
API/obj/Debug/netcoreapp3.1/DesafioFULL-WebAPI.pdb
API/obj/Debug/netcoreapp3.1/project.razor.json
API/obj/DesafioFULL-WebAPI.csproj.nuget.cache
API/obj/DesafioFULL-WebAPI.csproj.nuget.dgspec.json
